---
import Playlist from "../components/Playlist.astro";
import MainLayout from "../layouts/MainLayout.astro";

const artists = await fetch(
  "https://egvtcjptfxovdogpwjym.supabase.co/rest/v1/artists",
  {
    headers: {
      Accept: "application/json",
      apikey: import.meta.env.SUPABASE_ANON_KEY,
    },
  }
).then((res) => res.json());
console.log(artists);
---

<MainLayout>
  <section>
    <h1>Artists</h1>
    {
      artists.map((artist) => {
        return (
          <article>
            <h2>{artist.name}</h2>
            <ul>
              {artist.socials.map((some) => {
                return (
                  <li>
                    <a href={some.link}>{some.label}</a>
                  </li>
                );
              })}
            </ul>
            <Playlist id={artist.spotify_id} />
          </article>
        );
      })
    }
  </section>
</MainLayout>
